body, html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #000;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
h2::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
h3 {
	font-size: 24px;
	font-weight: 400;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Navigation */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	/*background-color: rgba(248, 248, 248, 0);*/
	background-color: #535151;
	border-color: rgba(231, 231, 231, 0);
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #eee;
	font-weight: 400;
	font-size: 20px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 0 40px 0 40px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #FF590D;
}
.on {
	background-color: #262626 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ec6743 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #d43031;
	border-color: #d43031;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	/*margin-bottom: 70px;*/
}
.section-title .overlay {
	padding: 80px 0;
	background: rgba(0, 0, 0, 0.7);
}
.section-title p {
	font-size: 22px;
}
.section-title hr {
	margin: 0 auto;
	margin-bottom: 40px;
}
.btn-custom {
	text-transform: uppercase;
	color: #777;
	background-color: transparent;
	border: 2px solid #777;
	padding: 14px 20px;
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	margin-top: 20px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #ddd;
	border: 2px solid #d43031;
	background-color: #d43031;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/home.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
/* Features Section */
#features {
	padding: 120px 0;
}
#features .features-item {
	margin: 0 20px;
}
#features img {
	margin: 30px auto 20px;
}
#features .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#features p {
	line-height: 24px;
	margin: 15px 0 30px;
	font-size: 18px;
}
#features h3{
	font-size: 30px;
}
/* About Section */
#about {
	padding: 0;
	background: #f6f6f6;
}
#about h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#about .about-text {
	/*padding: 80px 0;*/
}
#about .about-img {
	/*background: #444 url(../img/gallery-bg.jpg) center center no-repeat;*/
	background-size: cover;
	height: 570px;
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
	font-size: 18px;
}
/* Menu Section */
#restaurant-menu {
	padding: 100px 0 60px 0;
}
#restaurant-menu img {
	width: 100%;
	/*box-shadow: 15px 0 #a7c44c;*/
	/*height: 300px;*/
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 10px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 25px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}
#restaurant-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}
/* Gallery Section */
#gallery {
	padding: 0;
}
#gallery .gallery-item {
	margin: 0 -15px;
}
/* Team Section */
#team {
	padding: 120px 0;
}
#team h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#team img {
	max-width: 550px;
}
#team .team-img {
	display: inline-block;
	position: relative;
}
/* Contact Section */
#contact {
	/*padding: 100px 0;*/
	background: #ddd;
}
#contact .contact-item p {
	font-size: 15px;
	color: #777;
}
#contact .section-title {
	margin-top: 60px;
	margin-bottom: 40px;
}
#contact form {
	padding: 0;
}
#contact h3 {
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #aaa;
	padding: 20px 0;
}
#contact h3::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 40px;
	bottom: 0;
	margin-left: -20px;
	left: 50%;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #ccc;
	background-color: rgba(255,255,255,.2);
	background-image: none;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #999;
}
.form-control:-moz-placeholder {
color: #999;
}
.form-control::-moz-placeholder {
color: #999;
}
.form-control:-ms-input-placeholder {
color: #999;
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact h3{
	color: #de4c2d;
	font-weight: bold;
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 40px 0 20px 0;
}
#footer .social {
	margin-top: 10%;
	text-align: right;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 15px;
}
#footer .social i.fa {
	font-size: 24px;
	padding: 4px;
	color: #888;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 14px;
	color: #666;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #eee;
}
#img{
	width: 40%;
	/*height:10%;*/
}
.size-img-aliados{
	max-width: 20%;
  }
.sin_padding{
	padding: 0%;
  }
textarea{
	resize: none;
  }
  /*ajuste de imagenes*/
.bx-wrapper img{
	height: 100% !important;
}
.bx-viewport{
	height: 40em !important;
}
.contenedor{
	position: relative;
    display: inline-block;
    text-align: center;
}
.txtCentro{
    position: absolute;
    top: 48%;
    left: 50%;
	transform: translate(-50%, -85%);
	background-color: #0a0a0aa8;
	width: 35%;
	height: 35%;
	border-radius: 3%;
	font-size: 25px;
}
.txtCentro p{
	font-size: 35px;
	color: #fff;
	margin-top: 5%;
}
/*boton inicio slider*/
.btnEquipos{
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-align:center;
transition: all 0.2s;
/*margin-top: 15%;*/
}
.btnEquipos:hover{
color:#000000;
background-color:#FFFFFF;
}
.txtCentroCA{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -85%);
	background-color: #0a0a0aa8;
	width: 35%;
	height: 35%;
	border-radius: 3%;
	font-size: 25px;
}
.txtCentroCA p{
	font-size: 35px;
	color: #fff;
	margin-top: 5%;
}
.txtCentroPC{
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -85%);
	background-color: #0a0a0aa8;
	width: 35%;
	height: 35%;
	border-radius: 3%;
	font-size: 25px;
}
.txtCentroPC p{
	font-size: 35px;
	color: #fff;
	margin-top: 5%;
}
.imgCentro{
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translate(-50%, -85%);
	position: absolute;
    top: 50%;
    left: 50%;
}
.img_footer{
	width: 25% !important;
	height: 5%;
}
#mision{
	margin-top: 130px;
}

/*Estilos Base Imagenes*/
.contenedor-img {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
	background: #fff;
	}
	.contenedor-img .mascara,.contenedor-img .contenido {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0
	}
	.contenedor-img h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.9);
	margin: 20px 0 0 0
	}
	
	.contenedor-img p {
	font-size: 20px;
	position: relative;
	color: #fff;
	padding: 10px 20px 10px;
	text-align: center;
	margin:20px;
	text-transform: uppercase;
	}

	/*Ejemplo 1*/
	.hovereffect img {
	transition: all 0.2s linear;
	}
	.hovereffect .mascara {
	opacity: 0;
	background-color: rgba(185, 88, 31, 0.7);
	transition: all 0.3s ease-in-out;
	}
	.hovereffect p {
	transform: translateX(-200px);/*Desplazamos a la izquierda*/
	opacity: 0;
	transition: all 0.7s ease-in-out;
	}
	.hovereffect:hover img {
	transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
	}
	.hovereffect:hover .mascara {
	opacity: 1;
	}
	.hovereffect:hover p{
	opacity: 1;
	transform: translateX(0px);/*Regresamos a las posiciones originales*/
	}
	.hovereffect:hover p {
	transition-delay: 0.1s;
	}

	/*slider*/
	.wrapper {
		position: relative;
		overflow: hidden;
		width: 600px;
		height: 70px;
	}
	#slide {
		position: absolute;
		left: -400px;
		-webkit-animation: slide 0.5s forwards;
		-webkit-animation-delay: 2s;
		animation: slide 0.5s forwards;
		animation-delay: 2s;
	}
	
	@-webkit-keyframes slide {
		100% { left: 0; }
	}
	
	@keyframes slide {
		100% { left: 0; }
	}
	#slide1 {
		position: absolute;
		left: 400px;
		-webkit-animation: slide 0.5s forwards;
		-webkit-animation-delay: 2s;
		animation: slide 0.5s forwards;
		animation-delay: 2s;
	}
	
	@-webkit-keyframes slide1 {
		100% { left: 0; }
	}
	
	@keyframes slide1 {
		100% { left: 0; }
	}
